<!-- Banner Start -->
<section class="main-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="banner-content">
          <span class="sub-title wow fadeup-animation"
            >Welcome To Dr. G. I. S. Omonuwa</span
          >
          <h1
            class="h1-title wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            Your Success is Our Only Mission
          </h1>
          <p
            class="wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.3s"
          >
            At Dr. G. I. S. Omonuwa & Co., we provide exceptional legal
            solutions, combining expertise, integrity, and dedication to protect
            your interests.
          </p>
          <a
            href="/our-firm"
            class="sec-btn wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.4s"
            title="Discover More"
            ><span>About Us</span></a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="banner-img wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <img
            src="assets/img/Dr. G. I. S. Omonuwa banner image.png"
            width="636"
            height="694"
          />
          <span class="overlay"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features Start -->
<%- include('./partials/features') %>

<!-- About Us Start -->
<section class="main-about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="about-us-img-box wow left-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <div
            class="about-us-img back-img"
            style="
              background-image: url('assets/img/Dr. G. I. S. Omonuwa about image.png');
            "
          ></div>
          <div class="about-counter-box" id="about_counter">
            <h3 class="h3-title">
              <span data-count="584" class="counting">0</span>+
            </h3>
            <h4 class="h4-title">Case Solved</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div
          class="about-us-content wow right-animation"
          data-wow-duration="0.8s"
          data-wow-delay="0.2s"
        >
          <span class="sub-title">ABOUT US</span>
          <h2 class="h2-title">Professional Legal Help</h2>
          <p>
            Our law firm has been in the business since 1984, and we have gained
            the respect of multiple clients. We appreciate your trust and your
            time that you give to help you fight for the cases. We cover all the
            possible areas of law. We protect the innocent and help our clients
            fight for their rights. Our lawyers have won the majority of the
            cases in a record time.
          </p>

          <div class="faq-accordion">
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Our Mission</h4>
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  Our mission is to deliver unparalleled legal services, protect
                  clients’ rights, and provide innovative solutions tailored to
                  meet their unique needs.
                </p>
              </div>
            </div>
            <div class="faq-accordion-box">
              <div class="faq-accordion-title">
                <h4 class="h4-title">Our Vision</h4>
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
              </div>
              <div class="faq-accordion-content">
                <p>
                  Our vision is to be the leading legal firm, delivering
                  innovative, client-focused solutions with unwavering
                  commitment to justice and excellence.
                </p>
              </div>
            </div>
          </div>

          <div class="about-us-content-btn">
            <a href="/our-firm" class="sec-btn"><span>More About Us</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Case Study Start -->
<%- include('./partials/case-study-slides') %>

<!-- Testimonials Start -->
<%- include('./partials/testimonial') %>

<!-- Special Team Start -->
<%- include('./partials/team') %>

<!-- Subscribe Start -->
<%- include('./partials/newsletter') %>

<!-- How it works -->
<%- include('./partials/how-it-works') %>

<!-- Counter Start -->
<%- include('./partials/counter.ejs') %>

<!-- Blog Start -->
<section class="main-blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="blog-title text-center">
          <span class="sub-title">OUR BLOG</span>
          <h2 class="h2-title">Explore Our Latest Blog</h2>
        </div>
      </div>
    </div>
    <div class="blog-lists">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.2s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('/assets/img/blog6.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />21 July, 2025</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="/blog/beyond-the-courtroom-the-strategic-advantage"
                  title="Filing a Claim against a Cruise Ship Contractual Limitations."
                  >Beyond the Courtroom: The Strategic Advantage of Alternative
                  Dispute Resolution (ADR) in Nigeria</a
                >
              </h4>
              <p>
                For decades, the default path for resolving commercial disputes
                ...
              </p>
              <a
                href="/blog/beyond-the-courtroom-the-strategic-advantage"
                class="link-btn"
                title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.3s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('/assets/img/blog5.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />21 July, 2025</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="/blog/how-strong-corporate-governance-builds-resilient-businesses"
                  title="How Strong Corporate Governance Builds Resilient Businesses in Nigeria"
                  >How Strong Corporate Governance Builds Resilient Businesses
                  in Nigeria</a
                >
              </h4>
              <p>
                In Nigeria's dynamic economic environment, the resilience of a
                business is tested daily...
              </p>
              <a
                href="/blog/how-strong-corporate-governance-builds-resilient-businesses"
                class="link-btn"
                title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="blog-box wow fadeup-animation"
            data-wow-duration="0.8s"
            data-wow-delay="0.4s"
          >
            <div class="blog-img-box">
              <div class="blog-img-wp">
                <div
                  class="blog-img back-img"
                  style="background-image: url('/assets/img/blog4.jpg')"
                ></div>
              </div>
              <span class="blog-date"
                ><img
                  src="assets/images/calendar-icon.svg"
                  width="20"
                  height="18"
                  alt="Calendar Icon"
                />21 July, 2025</span
              >
            </div>
            <div class="blog-box-text">
              <h4 class="h4-title">
                <a
                  href="/blog/navigating-the-nigerian-investment-landscape"
                  title="Navigating the Nigerian Investment Landscape: Key Legal Considerations for Foreign Investors"
                  >Navigating the Nigerian Investment Landscape: Key Legal
                  Considerations for Foreign Investors</a
                >
              </h4>
              <p>
                As one of Africa's largest economies, Nigeria presents a
                landscape rich with opportunity for foreign investors...
              </p>
              <a
                href="/blog/navigating-the-nigerian-investment-landscape"
                class="link-btn"
                title="Discover More"
                ><span>Discover More</span
                ><i class="fas fa-arrow-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
